@using tst_MVC1.Models;
@{
    ViewBag.Title = "ClientYoldaAtistirmalik";
    Layout = "~/Views/Client/Layout/_Layout.cshtml";
}



<center>
    <br />
    <h2>Yolda</h2> <h2 class="text-info">Atıştırmalık</h2>
    <br />
    <hr />
</center>


<div class="row">
    @foreach (tst_MVC1.Models.tstAtistirmalikTable item in ViewBag.YoldaAtistirmalik)
    {

        <div class="col-12 col-lg-4">
            <div class="card">
                <form action="/Sepet/SepeteAtisEkle/" method="post" enctype="multipart/form-data">

                    <img src="~/images/atistirmalik/@item.ResimYol" class="card-img-top" alt="Card image cap">
                    <div class="card-body">

                        <input type="text" name="userName" value="@ViewBag.ClientID" hidden />
                        <input type="text" name="YemekAdi" value="@item.AtistirmalikAdi" hidden />
                        <input type="text" name="Fiyat" value="@item.Fiyat" hidden />

                        <h4 class="card-title">@item.AtistirmalikAdi</h4>

                        <p>@item.Aciklama</p>

                        <h5 class="text-warning">@item.Fiyat ₺</h5>
                        <hr />

                        <button type="submit" value="SepeteAtisEkle" class="btn btn-outline-info btn-sm text-white"><i class="zmdi zmdi-plus"></i> Sepete Ekle</button>

                    </div>
                </form>
            </div>
        </div>

    }
</div>

